{% extends "site_base.html" %}
{% load linkableobject_tags %}
{% load widgettag_tags %}
{% load datatypes %}

{% block body %}
  {% with STATIC_URL|aadd:"js/ckeditor/ckeditor.js" as url %}{% widget_addjsfile url %}{% endwith %} 

  <form method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="10" cols="50">{{ node_version.content }}</textarea>
    <script type="text/javascript">
      CKEDITOR.config.entities_additional = '';
      CKEDITOR.replace('content');
    </script>
    <br><br>
    <button type="submit">Save</button>
  </form>
{% endblock %}
