{% extends "site_base.html" %}
{% load linkableobject_tags %}
{% load widgettag_tags %}
{% load datatypes %}

{% block body %}
  {% with STATIC_URL|aadd:"js/ckeditor/ckeditor.js" as url %}{% widget_addjsfile url %}{% endwith %} 

  <form method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <br><br>
    <button type="submit">Save</button>
  </form>
  <script type="text/javascript">
    CKEDITOR.config.entities_additional = '';
    CKEDITOR.replace('content');
  </script>
{% endblock %}
