{% extends "site_base.html" %}

{% load i18n %}
{% load event_tags %}
{% load account_tags %}

{% block body %}
  <style>
    input {
      border: none;
    }
    h1 {
      font-size: 14pt;
    }
    table {
      border-collapse: collapse;
      margin-top: 5pt;
      margin-bottom: 5pt;
    }
    td, th {
      border: 1px solid #999999;
      text-align: left;
      padding: 0;
    }
    td.booked {
      background: #99ff99;
      color: #99ff99;
    }
    form {
      overflow: auto;
      width: 100%;
    }
    .rightadj {
      text-align: right;
      padding-right: 2px;
    }
  </style>
  <h1>{{event.name}}</h1>
  <p>{{event.description|safe}}</p>
  <form method="post">
   {% csrf_token %}
   <button type="submit" name="submit">Save</button>
   <table>
    <tr>
     <td></td>
     <td></td>
     <td></td>
     <th class="rightadj">Year:</th>
     {% for year in event.date_tree %}
       <th colspan="{{year.nr_dates}}">{{ year.year }}</th>
     {% endfor %}
    </tr>
    <tr>
     <td></td>
     <td></td>
     <td></td>
     <th class="rightadj">Month:</th>
     {% for year in event.date_tree %}
       {% for month in year.months %}
         <th colspan="{{month.nr_dates}}">{{ month.month }}</th>
       {% endfor %}
     {% endfor %}
    </tr>
    <tr>
     <th>Handle</th>
     <th>E-mail</th>
     <th>Phone</th>
     <th class="rightadj">Date:</th>
     {% for year in event.date_tree %}
       {% for month in year.months %}
         {% for date in month.dates %}
           <th>{{ date.day }}</th>
         {% endfor %}
       {% endfor %}
     {% endfor %}
    </tr>
    <tr>
     <td><input type="text" name="username" value="{{request.user.username}}" /></td>
     <td><input type="text" name="email" value="{{request.user.email}}" /></td>
     <td colspan="2"><input type="text" name="phone" value="{{request.user.phone}}" /></td>
     {% for date in event.sorted_dates %}
       <td><input type='checkbox' name='days' value='{{ date.date }}'
         {% if event_booking and event_booking.dates|event_get_date:date %}
	   checked="true"
         {% endif %}
       /></td>
     {% endfor %}
    </tr>
    {% for booking in event.bookings.all %}
     <tr>
      <td>{{ booking.booker.username }}</td>
      <td>{{ booking.booker.email }}</td>
      <td colspan="2">{{ booking.booker.info.phone }}</td>
      {% for date in event.sorted_dates %}
        {% if booking.dates|event_get_date:date %}
	  <td class='booked'>X</td>
        {% else %}
	  <td class='unbooked'>&nbsp;</td>
        {% endif %}
      {% endfor %}
     </tr>
    {% endfor %}
    <tr>
     <td></td>
     <td></td>
     <td></td>
     <th class="rightadj">Total:</th>
     {% for date in event.sorted_dates %}
       <td style='background: {{date.color}}'>{{date.bookings.count}}</td>
     {% endfor %}
    </tr>

   </table>
  </form>
{% endblock %}
